<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block link %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/porra.css') }}">
  {% endblock link %}

  <link rel="icon" href="{{ url_for('static', filename='iconos/mundial.png') }}" type="image/x-icon">

  <title>Porra Mundial</title>

</head>
<body>
  

  {% block principal %}
    
  <nav class="navbar">
    <div class="nav-left">
      <a href="/porra" class="logo">
        <img src="{{ url_for('static', filename='iconos/logo_blanco.png') }}" alt="Inicio">
      </a>
      <a href="#">Resultados</a>
      <a href="#">Clasificacion</a>
    </div>

    <div class="nav-right">
      <div class="profile-menu">
        <img src="{{ url_for('static', filename='iconos/usuario.png') }}" alt="Perfil" class="profile-icon" id="profileBtn">
        <ul class="dropdown" id="dropdownMenu">
          <li><a href="#">Mi Perfil</a></li>
          <li><a href="#">Ajustes</a></li>
          <li><a href="/logout">Cerrar Sesión</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="main-content">

    <h1>Proximamente....</h1>
    <img class="logo-mundial-inicio" src="{{ url_for('static', filename='iconos/logo_neutral.png') }}" alt="Logo">
    <h2>¡Estamos trabajando para tener todo listo para esta gran cita!</h2>

  </main>

  {% endblock principal %}

  <footer>
      <p>&copy; 2026 Porra Mundial App. Todos los derechos reservados.</p>
  </footer>

  <script src="{{ url_for('static', filename='js/perfil.js') }}"></script>
</body>
</html>