{% extends "porra.html" %}

{% block link %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock link %}

{% block principal %}

<div class="settings-wrapper">

    <div class="settings-card">

        <h1 class="titulo-pagina">Configuración ⚙️</h1>

        <p class="descripcion-settings"> Gestiona las opciones de tu cuenta.</p>

    <div class="settings-section">

        {% if imagen_perfil == '-1' %}

            <form  action="/settings/actualizar_imagen_perfil" method="POST" enctype="multipart/form-data" novalidate class="form-imagen-perfil">

                <h2>Imagen de perfil</h2>

                <p class="descripcion-settings">Sube una imagen personalizada para tu perfil.</p>

                <div class="contenedor-subir-imagen">
                    <label for="imagen" class="boton-seleccionar-imagen">Seleccionar imagen</label>
                    <input type="file" name="imagen" id="imagen" accept=".jpg, .jpeg, .png">
                    <div class="previsualizacion">
                        <p class="mensaje" id="mensaje">No se ha seleccionado archivo</p>
                        <img class="imagen-preview" id="preview" src="" alt="Preview">
                    </div>
                </div>

                <button type="submit" class="boton-guardar-imagen">Confirmar imagen</button>

            </form>

        {% else %}

                <div class="contenedor-imagen-actual" id="contenedorImagen">
                    <h2>Imagen de perfil</h2>
                    <img class="imagen-perfil" src="{{ url_for('static', filename='imagenes/perfil/' ~ usuario ~ '/' ~ imagen_perfil) }}" alt="Imagen perfil">
                    <button  class="boton-actualizar-imagen" id="botonActualizarImagenPerfil">Actualizar imagen</button>
                </div>

                <div class="seccion-actualizar-imagen" id="contenedorActualizarImagenPerfil">

                    <form action="/settings/actualizar_imagen_perfil" method="POST" enctype="multipart/form-data" novalidate class="form-imagen-perfil">

                        <div class="contenedor-subir-imagen">

                            <label for="imagenActualizar" class="boton-seleccionar-imagen">Seleccionar nueva imagen</label>

                            <input type="file" name="imagen" id="imagenActualizar" accept=".jpg, .jpeg, .png">

                            <div class="previsualizacion">
                                <p class="mensaje" id="mensajeActualizar">No se ha seleccionado archivo</p>
                                <img class="imagen-preview" id="previewActualizar" src="" alt="Preview">
                            </div>

                        </div>

                        <button type="submit" class="boton-guardar-imagen">Guardar nueva imagen</button>

                    </form>

                </div>

            {% endif %}

        </div>

        {% if puede_cambio_contrasena %}

            <div class="settings-section password-section">

                <h2>Cambiar contraseña</h2>

                <p>Actualiza tu contraseña de acceso. Solo puedes hacer un cambio de contraseña al día, con un maximo de tres cambios en total. Por seguridad, necesitarás introducir tu contraseña actual.</p>

                <form action="/settings/cambiar_contrasena" method="POST" class="form-cambiar-contrasena">

                    <div class="campo-password">
                        <label for="contrasena_actual">Contraseña actual</label>
                        <input type="password" name="contrasena_actual" id="contrasena_actual" required>
                    </div>

                    <div class="campo-password">
                        <label for="nueva_contrasena">Nueva contraseña</label>
                        <input type="password" name="nueva_contrasena" id="nueva_contrasena" minlength="8" required>
                    </div>

                    <div class="campo-password">
                        <label for="repetir_contrasena">Repetir nueva contraseña</label>
                        <input type="password" name="repetir_contrasena" id="repetir_contrasena" minlength="8" required>
                    </div>

                    <button type="submit" class="boton-cambiar-contrasena" id="botonCambiarContrasena" disabled>Guardar nueva contraseña</button>

                </form>

            </div>

        {% else %}

            <div class="settings-section password-section">
                <h2>Cambiar contraseña</h2>
                <p>Debe pasar mínimo un dia para volver a cambiar la contraseña. Si has realizado ya tres cambios de contraseña, contacta con el Administrador</p>
            </div>

        {% endif %}

        <div class="settings-section danger-zone">
            <h2>Zona peligrosa</h2>
            <p>Si eliminas tu cuenta perderás todos tus datos y predicciones. Esta acción no se puede deshacer.</p>
            <button class="btn-eliminar" id="abrirModalEliminar">Eliminar cuenta</button>
        </div>

    </div>

</div>


<div id="modalEliminar" class="modal-overlay">

    <div class="modal-content">

        <button class="cerrar-modal" id="cerrarModal">&times;</button>

        <h2>¿Eliminar cuenta?</h2>

        <p class="texto-modal">Esta acción es permanente y no podrás recuperar tu cuenta. </p>

        <div class="modal-buttons">
            <button id="cancelarEliminar">Cancelar</button>
            <button id="confirmarEliminar">Sí, eliminar cuenta</button>
        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
<script src="{{ url_for('static', filename='js/cargar_imagen_preview.js') }}"></script>
<script src="{{ url_for('static', filename='js/abrir_actualizar_imagen_perfil.js') }}"></script>
<script src="{{ url_for('static', filename='js/cambiar_contrasena.js') }}"></script>

{% endblock principal %}